<launch>
	<arg name="world_launch_file" default="$(find mir_gazebo)/launch/mir_maze_world.launch"/>
	<include file="$(arg world_launch_file)"> </include>
	<include file="$(find rm_mir_cleaner)/launch/move_base.launch"> </include>
	<include file="$(find rm_mir_cleaner)/launch/laserscan_multi_merger.launch"> </include>

	<node pkg="rviz" type="rviz" name="rviz" args="-d $(find rm_mir_cleaner)/launch/rviz/a2_default.rviz"/>

	<node pkg="gmapping" type="slam_gmapping" name="gmapping_node">
		<remap from="scan" to="scan_multi" />
		<param name="map_update_interval"  value="3.0"/>
		<param name="linearUpdate"  value="0.5"/>
	</node>

	<include file="$(find explore_lite)/launch/explore.launch"> </include>
	<node pkg="map_server" type="map_saver" name="map_saver_node" args="-f $(find rm_mir_cleaner)/maps/newmap">
		<remap from="/map" to="map_done"/>
	</node>

</launch>
